//默认设计稿的宽度
$designWidth:5760;
//默认设计稿的高度
$designHeight:3240;

//px转为vw的函数

@function vw($px) {
  @return ($px / $designWidth) * 100vw;
}

//px转为vh的函数

@function vh($px) {
  @return ($px / $designHeight) * 100vh;
}

:export {
  designWidth: $designWidth;
  designHeight: $designHeight;
}